<!-- SPONSORS -->
      <section class='sponsors'>
        <h3>Our Sponsors</h3>
        <a target='_blank' href='http://www.startupweekvancouver.ca/sponsor/'>
          <i class='icon-icecream'></i>
          Become a Sponsor
        </a>
        <div class='row'>
            <div class='line'><span>Presenting Sponsor</span></div>
            <img src='images/SWV_sponsors_presenting.jpg' />
        </div>
        <div class='row'>
          <div class='line'><span>Premiere Sponsors</span></div>
          <img src='images/SWV_sponsors_premiere.jpg' />
        </div>
        <div class='row'>
          <div class='line'><span>Community Sponsors</span></div>
          <img src='images/SWV_sponsors_community.jpg' />
        </div>
      </section>
<!-- /end SPONSORS -->
