@import 'bourbon/bourbon';
@import 'neat/neat';

$frank: "franklin-gothic-ext-comp-urw";
$adelle: 'adelle';
$mano: 'wc_mano_negra_btaregular';


@mixin h1 {
  color: #9bdab7;
  text-transform: uppercase;
  text-align: center;
  font-family: $mano;
  letter-spacing: 0;

  line-height: 63px;
  font-size: 63px;

  @include media($large-up) {
    line-height: 105.6px;
    font-size: 100px;
  }
}

@mixin h2 {
  font-family: $frank;

  text-transform: uppercase;
  text-align: left;

  font-size: 41px;

  letter-spacing: 0.14em;

  @include media($large-up) {
      font-size: 48px;
      line-height: 57.6px;
      letter-spacing: 0.14em;
  }

}

@mixin h3 {
  font-family: $mano;
  font-size: 36px;
  @include media($large-up) {
      font-size: 40px;
      line-height: 48px;
  }
  color: #58585b;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0;
}

@mixin h4 {
  font-family: $frank;
  font-size: 26px;
  text-transform: uppercase;
  line-height: 31.2px;
  letter-spacing: 0.08em;
}

@mixin h5 {
  font-family: $mano;
  font-size: 26px;
  text-transform: uppercase;
  text-align: left;
  line-height: 33.6px;
  letter-spacing: 0;
}

@mixin h6 {
  font-family: $adelle;
  font-size: 22px;
  line-height: 31.6px;
}

@mixin body {
  font-family: $adelle;
  font-size: 16px;
  color: #999999;
  font-weight: 100;
}

@mixin stroke {
  background-image: url('../images/stroke.png');
  background-size: 186px 46px;
  background-repeat: no-repeat;
  background-position: center;
}

$lightGrey: #f2f2f2;
$grey: #cccccc;
$darkGrey: #58585b;

$green: #9bdab7;
$orange: #ff9684;
$red: #ff9684;
$yellow: #dfd85f;
$reddish: #c86b84;

$iceCreamPurple: #d093bf;
$iceCreamLightPurple: #e2cfd5;
$iceCreamOrange: #ffad67;
$iceCreateLightOrange: #ffc09d;
$iceCreamSalmon: #ff928e;
$iceCreamMaroon: #c66a81;
$iceCreamLightBlue: #bedadb;
$iceCreamLightGreen: #c2e2a1;
$iceCreamTeal: #6dc9c8;

$iceCreams: #d093bf #e2cfd5 #ffad67 #ffc09d #ff928e #c66a81 #bedadb #c2e2a1 #6dc9c8;
$eventImages: "event-images_swe.jpg"
              "event-images_devops.jpg"
              "event-images_invoke.jpg"
              "event-images_techfest.jpg"
              "event-images_dan_mart.jpg"
              "event-images_impact.jpg"
              "event-images_payement_plat.jpg"
              "event-images_sky.jpg"
              "event-images_casc.jpg";


$small-only: new-breakpoint(max-width 40rem);
$medium-up: new-breakpoint(min-width 40.063rem);
$medium-only: new-breakpoint(min-width 40.063rem max-width 64rem);
$large-up: new-breakpoint(min-width 64.063rem);

$edge-padding: 6rem;

h1 { @include h1; }
h2 { @include h2; }
h3 { @include h3; }
h4 { @include h4; }
h5 { @include h5; }
h6 { @include h6; }

body {
  @include body();
  margin: 0;
}

.no-overflow {
  overflow: hidden;
}

@mixin hover-darken-bg($bgColour) {
  background-color: $bgColour;
  @include transition (background-color 0.1s ease-in-out);
  &:hover {
    background-color: darken($bgColour, 10%);
  }
}

@mixin stroke-link-header {
  > h3 {
    @include stroke();
    margin-bottom: 0.5em;
  }
  text-align: center;
  > a {
    color: $orange;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

a.button {
  @include h4;
  @include hover-darken-bg($bgColour: $red);
  color: white;
  padding: 0.5em 1em;
  vertical-align: top;
  i {
    font-size: 2rem;
  }
}

a.circle {
  @include h4;
  @include hover-darken-bg($bgColour: $red);
  color: white;
  border-radius: 50%;
  text-align: center;
  width: 8rem;
  height: 8rem;
  padding-top: 2rem;
  display: inline-block;
}

.header {
  background-image: url('../images/SWV_skyrocket_header1.1.jpg');
  background-size: cover;
  background-position: center;
  padding: 2rem 1rem 0 1rem;

  position: relative;

  @include media($large-up) {
    padding: 2rem $edge-padding 0 $edge-padding;
  }

  img {
    max-width: 80%;
  }
  > div {
    @include outer-container();

    h1 {
      @include transform(rotate(-3deg));
      margin: 0;
      padding-top: 2rem;
      padding-bottom: 2rem;
      @include media($medium-only) {
          padding-top: 8rem;
      }
      @include media($large-up) {
          padding-top: 14rem;
      }
    }
    h2,p {
      color: white;
      margin-top: 0;
    }
    .intro-row {

      @include media($medium-up) {
        padding: 2rem 0;
      }

      @include media($medium-only) {
        max-width: 600px;
        margin: 0 auto;
      }

      @include media($large-up) {
          @include row();
          h2 {
            @include shift(1);
            @include span-columns(5);
          }
          p {
            @include span-columns(5);
          }
      }
      p {
        font-size: 22px;
      }
    }
    .button-row {
      text-align: center;
      padding: 1rem 0 3rem 0;
      @include media($medium-only) {
        padding-bottom: 8rem;
      }
      @include media($large-up) {
        padding-bottom: 10rem;
      }
    }
  }
}

ul.menu {
  list-style: none;
  font-size: 32px;
  color: black;

  text-align: center;
  background-color: rgba(255,255,255,0.8);
  margin: 0;
  padding: 1rem 0 0 0;
  display: none;

  @include media($large-up) {
    height: 100%;
    display: block;
    position: absolute;
    z-index: 99;
    //top: 0;
    left: 0;
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.45);
    &.fixed {
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
    }
  }

  li:not(:first-child) {
    margin: 2rem 0;
  }

  li {
    > i {
      font-size: 5rem;
      color: $grey;
    }
    a {
      i {
        padding: 0.5rem;
      }
      @include transition(color 0.2s);
      color: $darkGrey;
      &:hover {
        color: black;
      }
      * {
        display: block;
      }
      span {
        font-size: 0.8rem;
      }
    }
  }

  li:last-child {
    margin: 0;
    a {
      color: white;
      &:hover {
        color: white;
      }
    }
    padding: 4rem 0;
    background-image: url('../images/stroke_nav.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    width: 80px;
    left: 0;
  }

}

.featured-events {
  @include stroke-link-header();

  @include media($large-up) {
    position: relative;
  }



  ul:not(.menu) {
    margin: 2rem 0 0 0;
    padding: 0;
    list-style: none;
    li {


      @for $i from 1 through length($iceCreams) {
        &:nth-child(#{$i}n) {
          border-bottom: 10px solid nth($iceCreams, $i);
          a.button {
            background-color: nth($iceCreams, $i);
          }
          background-image: url('../images/#{nth($eventImages,$i)}');
          background-size: cover;
          background-position: center;
        }
      }

      .content {
        .row {
          @include outer-container();
          @include row();
        }
      }

      .head {
        .row {
          @include outer-container();
          @include row();
        }
      }

      .head, .content {
        padding: 0 1rem;
        @include media($large-up) {
          padding: 0 1rem 0 $edge-padding;
        }
      }

      .head {
        cursor: pointer;
        z-index: 1;
        position: relative;
        text-align: left;
        h2, h5 {
          margin: 0;
        }
        h2 {
          padding: 0.8rem 0;
          @include media($large-up) {
              padding: 2.5rem 0;
          }
        }
        h5 {
          padding: 0 0 0.8rem 0;
          @include media($large-up) {
              padding: 3.3rem 0 0 0;
          }
        }
        h5 + p {
          margin: 0;
        }
        p {
          opacity: 0;
          @include transition(opacity 0.5s);
        }
        h2 {
          color: black;
        }
      }
      .content {
        padding: 0 1rem 3rem 1rem;
        @include media($large-up) {
          padding: 0 1rem 6rem $edge-padding;
        }

        box-sizing: border-box;

        h5:first-child {
          margin-top: 0;
        }
        h2:first-child {
          margin-top: 0;
        }

        h5 {
          margin-bottom: 0;
        }
        h5 + .sub {
          margin-top: 0;
        }

        h2,h5,p {
          color: white;
        }
        p {
          text-align: left;
        }
        p:first-child {
          margin-top: 0;
        }
      }

      .left {
        @include media($large-up) {
          margin-bottom: 0;
        }
      }

      @include media($large-up) {
        .left {
          @include span-columns(8);
        }
        .right {
          @include span-columns(4);
        }
      }

    }

    .white-bg {
      @include transition(background 0.5s);
      background: $lightGrey;
      &:hover {
        background: white;
      }
    }

    li:hover,
    li.active {
      .white-bg {
        background: transparent;
      }
      .head {
        h2, h5, p {
          color: white;
        }
        p {
          opacity: 1;
        }
      }
    }
    li {
      .content {
        display: none;
      }
    }
  }

}
.sponsors {

  img {
    max-width: 80%;
  }

  @include stroke-link-header();
  padding: 2rem 1rem;

  .row {
    padding-top: 2rem;
  }

  @include media($small-only) {
    .right {
      a:first-child {
        img {
          margin: 1.5rem 0;
        }
      }
      text-align: center;
      p {
        margin: 0;
      }
    }
  }

  a {
    img {
      vertical-align: middle;
    }
  }

  @include media($medium-only) {
    .right {
      p:first-child {
        margin-top: 2.5rem;
        margin-bottom: 0;
      }
      p:last-child {
        margin-top: 0;
      }
    }
  }

  @include media($large-up) {
    padding: 2rem 1rem 2rem $edge-padding;
    .row {
      @include outer-container();
      @include row();
      .left {
        @include span-columns(2);
        img {
          width: 100%;
        }
      }
      .right {
        text-align: center;
        @include span-columns(10);
        a {
          img {
            width: 300px;
            max-width: 33%;

          }
        }
      }
    }
  }

  .line {
    display: none;
    @include media($large-up) {
      display: block;
    }

    width: 100%;
    border-left: 1px solid $grey;
    border-right: 1px solid $grey;
    height: 9px;
    span {
      position: relative;
      top: -7px;
      background: white;
      padding: 0 0.5rem;
      font-size: 12px;
    }
    &:before {
      content: " ";
      border-bottom: 1px solid #cccccc;
      width: 100%;
      height: 1px;
      position: relative;
      top: 4px;
      display: block;
    }
  }

}
.startup-jobs {
  padding: 2rem 1rem;
  @include media($large-up) {
    padding: 2rem 1rem 4rem $edge-padding;
  }
  h3 {
    @include stroke();
    color: white;
    margin: 0;
    padding: 2rem 0;
  }
  background-image: url('../images/SWV_skyrocket_guys.jpg');
  background-size: cover;
  background-position: center;
  p {
    color: white;
  }
  p + p {
    padding-bottom: 2rem;
  }
  @include media($large-up) {

    .row {
      @include row();
      @include outer-container();
      p {
        @include shift(2);
        @include span-columns(8);
      }
    }
  }
}
.feed-me {
  padding: 0;
  position: relative;
  img {
    width: 100%;
    opacity: 1;
    @include transition(all 0.2s);
  }
  img.hover {
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    z-index: 1;
  }
  &:hover {
    img.hover {
      opacity: 1;
    }
  }
}
.contact {
  padding: 0;
  background-image: url('../images/SWV_skyrocket_contact_tile.jpg');
  background-repeat: repeat-x;
  background-position: center;
  min-height: 500px;
  position: relative;

  text-align: center;

  padding-top: 100px;

  a {
    @include h2;
    color: black;

    font-size: 36px;
    text-align: center;
    display: inline-block;
    width: 360px;

    background: white;
    height: 100px;
    line-height: 100px !important;
    margin-left: -180px;

    position: absolute;
    left: 50%;

    &:nth-of-type(1) {
      top: 100px;
    }
    &:nth-of-type(2) {
      top: 200px;
    }
    &:nth-of-type(3) {
      top: 300px;
    }

    @include media($large-up) {
      color: $darkGrey;
      @include transition(color 0.5s);
      &:hover {
        color: black;
      }

      display: block;
      padding: 0 0.2em;
      width: auto;


      &:nth-of-type(1) {
        margin-left: -228px;

      }
      &:nth-of-type(2) {
        margin-left: 122px;

      }
      &:nth-of-type(3) {
        margin-left: -361px;

        padding: 0;
      }
    }


  }

}
.why {
  padding: 4rem 1rem 4rem 1rem;
  @include media($medium-only) {
    padding: 8rem 1rem 4rem 1rem;
  }
  @include media($large-up) {
    padding: 14rem 1rem 4rem $edge-padding;
  }
  background-image: url('../images/SWV_skyrocket_girl.jpg');
  background-size: cover;
  background-position: center;
  .row {
    @include row();
    @include outer-container();

    @include media($medium-only) {
      div, p {
        width: 600px;
        margin: 0 auto;
      }
    }
    @include media($large-up) {
        div, p {
          @include shift(3);
          @include span-columns(6);
        }
    }

    text-align: center;
    h1 {
      color: $orange;
      @include transform(rotate(-3deg));
      margin: 0;
    }

    p {
      font-size: 22px;
      text-align: left;

      padding: 0rem 0 4rem 0;
      @include media($medium-up) {
          padding: 2rem 0 8rem 0;
      }

    }
    i {
      font-size: 52px;
    }
    small {
      font-size: 14px;
      color: #f2f2f2;
    }
    color: white;
  }
}


section {
  padding: 2rem 0 0 0;
}
