@import 'bourbon/bourbon';
@import 'neat/neat';

$frank: "franklin-gothic-ext-comp-urw";
$adelle: 'adelle';
$mano: 'wc_mano_negra_btaregular';


@mixin h1 {
  color: #9bdab7;
  text-transform: uppercase;
  text-align: center;
  font-family: $mano;
  letter-spacing: 0;

  font-size: 63px;

  @include media($large-up) {
    line-height: 105.6px;
    font-size: 100px;
  }
}

@mixin h2 {
  font-family: $frank;

  text-transform: uppercase;
  text-align: left;

  font-size: 41px;

  letter-spacing: 0.14em;

  @include media($large-up) {
      font-size: 48px;
      line-height: 57.6px;
      letter-spacing: 0.14em;
  }

}

@mixin h3 {
  font-family: $mano;
  font-size: 40px;
  color: #58585b;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  letter-spacing: 0;
}

@mixin h4 {
  font-family: $frank;
  font-size: 26px;
  text-transform: uppercase;
  line-height: 31.2px;
  letter-spacing: 0.08em;
}

@mixin h5 {
  font-family: $mano;
  font-size: 28px;
  text-transform: uppercase;
  text-align: left;
  line-height: 33.6px;
  letter-spacing: 0;
}

@mixin h6 {
  font-family: $adelle;
  font-size: 22px;
  line-height: 31.6px;
}

@mixin body {
  font-family: $adelle;
  font-size: 16px;
  color: #999999;
  font-weight: 100;
}

@mixin stroke {
  background-image: url('../images/stroke.png');
  background-size: 186px 46px;
  background-repeat: no-repeat;
  background-position: center;
}

$lightGrey: #f2f2f2;
$grey: #cccccc;
$darkGrey: #58585b;

$green: #9bdab7;
$orange: #ff9684;
$red: #ff9684;
$yellow: #dfd85f;
$reddish: #c86b84;

$small-only: new-breakpoint(max-width 40rem);
$medium-up: new-breakpoint(min-width 40.063rem);
$medium-only: new-breakpoint(min-width 40.063rem max-width 64rem);
$large-up: new-breakpoint(min-width 64.063rem);

h1 { @include h1; }
h2 { @include h2; }
h3 { @include h3; }
h4 { @include h4; }
h5 { @include h5; }
h6 { @include h6; }

body {
  @include body();
  margin: 0;
}

@mixin hover-darken-bg($bgColour) {
  background-color: $bgColour;
  @include transition (background-color 0.1s ease-in-out);
  &:hover {
    background-color: darken($bgColour, 10%);
  }
}

@mixin stroke-link-header {
  > h3 {
    @include stroke();
    margin-bottom: 0.5em;
  }
  text-align: center;
  > a {
    color: $orange;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

a.button {
  @include h4;
  @include hover-darken-bg($bgColour: $red);
  color: white;
  padding: 0.5em 1em;
}

a.circle {
  @include h4;
  @include hover-darken-bg($bgColour: $red);
  color: white;
  border-radius: 50%;
  text-align: center;
  width: 8rem;
  height: 8rem;
  padding-top: 2rem;
  display: inline-block;
}

.header {
  background-image: url('../images/SWV_skyrocket_header1.1.jpg');
  background-size: cover;
  background-position: center;
  padding: 2rem 1rem 0 1rem;

  img {
    max-width: 80%;
  }
  > div {
    @include outer-container();

    h1 {
      @include transform(rotate(-3deg));
      margin: 0;
      padding-top: 2rem;
      @include media($medium-only) {
          padding-top: 8rem;
      }
      @include media($large-up) {
          padding-top: 14rem;
      }
    }
    h2,p {
      color: white;
    }
    .intro-row {

      @include media($medium-up) {
        padding: 2rem 0;
      }

      @include media($medium-only) {
        max-width: 600px;
        margin: 0 auto;
      }

      @include media($large-up) {
          @include row();
          h2 {
            @include shift(2);
            @include span-columns(4);
          }
          p {
            @include span-columns(4);
          }
      }

    }
    .button-row {
      text-align: center;
      padding: 1rem 0 3rem 0;
      @include media($medium-only) {
        padding-bottom: 8rem;
      }
      @include media($large-up) {
        padding-bottom: 10rem;
      }
    }
  }
}

.featured-events {
  @include stroke-link-header();
  ul {
    margin: 2rem 0 0 0;
    padding: 0;
    list-style: none;
    li {
      &:nth-child(1) {
        .head {
          border-bottom: 10px solid $orange;
        }
        .content {
          background-image: url('../images/event-images_impact.jpg');
          background-size: cover;
          background-position: center;
        }
      }
      &:nth-child(2) {
        .head {
          border-bottom: 10px solid $green;
        }
        .content {
          background-image: url('../images/event-images_sky.jpg');
          background-size: cover;
          background-position: center;
        }
      }
      &:nth-child(3) {
        .head {
          border-bottom: 10px solid $yellow;
        }
        .content {
          background-image: url('../images/event-images_casc.jpg');
          background-size: cover;
          background-position: center;
        }
      }

      .content {
        .row {
          @include outer-container();
          @include row();
        }
      }

      .head {
        .row {
          @include outer-container();
          @include row();
        }
        h2 {
          @include media($large-up) {
              @include span-columns(8);
          }
        }
        h5 {
          @include media($large-up) {
              @include span-columns(4);
              line-height: 60px;
          }
        }
      }

      .head, .content {
        padding: 0 1rem;
      }

      .head {
        @include transition(all 0.3s);
        background-color: $lightGrey;
        cursor: pointer;
        &:hover {
          background-color: white;
        }
        h2, h5 {
          margin: 0;
        }
        h2 {
          padding: 0.8rem 0;
          @include media($large-up) {
              padding: 2.5rem 0;
          }
        }
        h5 {
          padding: 0 0 0.8rem 0;
          @include media($large-up) {
              padding: 2.5rem 0;
          }
        }
        h2 {
          color: black;
        }
      }
      .content {
        padding: 3rem 1rem;
        @include media($large-up) {
          padding: 6rem 1rem;
        }
        border-bottom: 10px solid $red;
        box-sizing: border-box;

        h5:first-child {
          margin-top: 0;
        }
        h2:first-child {
          margin-top: 0;
        }

        h5 {
          margin-bottom: 0;
        }
        h5 + .sub {
          margin-top: 0;
        }

        h2,h5,p {
          color: white;
        }
        p {
          text-align: left;
        }

        .left {
          margin-bottom: 2.5rem;
          @include media($large-up) {
            margin-bottom: 0;
          }
        }

        @include media($large-up) {
          .left {
            @include span-columns(8);
          }
          .right {
            @include span-columns(4);
          }
        }


      }
    }
    li.active {
      .head {
        background-color: white;
      }
    }
    li {
      .content {
        display: none;
      }
    }
  }

}
.sponsors {

  img {
    max-width: 80%;
  }

  @include stroke-link-header();
  padding: 2rem 1rem;

  .row {
    padding-top: 2rem;
  }

  @include media($small-only) {
    .right {
      a:first-child {
        img {
          margin: 1.5rem 0;
        }
      }
      text-align: center;
      p {
        margin: 0;
      }
    }
  }

  a {
    img {
      vertical-align: middle;
    }
  }

  @include media($medium-only) {
    .right {
      p:first-child {
        margin-top: 2.5rem;
        margin-bottom: 0;
      }
      p:last-child {
        margin-top: 0;
      }
    }
  }

  @include media($large-up) {
    .row {
      @include outer-container();
      @include row();
      .left {
        @include span-columns(2);
        img {
          width: 100%;
        }
      }
      .right {
        text-align: center;
        @include span-columns(10);
        a {
          img {
            width: 300px;
            max-width: 33%;

          }
        }
      }
    }
  }

}
.startup-jobs {
  padding: 2rem 1rem;
  @include media($large-up) {
    padding-bottom: 4rem;
  }
  h3 {
    @include stroke();
    color: white;
    margin: 0;
    padding: 2rem;
  }
  background-image: url('../images/SWV_skyrocket_guys.jpg');
  background-size: cover;
  background-position: center;
  p {
    color: white;
  }
  p + p {
    padding-bottom: 2rem;
  }
  @include media($large-up) {

    .row {
      @include row();
      @include outer-container();
      p {
        @include shift(2);
        @include span-columns(8);
      }
    }
  }
}
.feed-me {
  padding: 0;
  position: relative;
  img {
    width: 100%;
    opacity: 1;
    @include transition(all 0.2s);
  }
  img.hover {
    position: absolute;
    top:0;
    left:0;
    opacity: 0;
    z-index: 1;
  }
  &:hover {
    img.hover {
      opacity: 1;
    }
  }
}
.contact {
  padding: 0;
  background-image: url('../images/SWV_skyrocket_contact_tile.jpg');
  background-repeat: repeat-x;
  background-position: center;
  min-height: 500px;
  position: relative;

  text-align: center;

  padding-top: 100px;

  a {
    @include h2;
    @include media($small-only) {
      font-size: 30px;
      text-align: center;
      display: inline-block;
      width: 225px;
    }
    color: black;
    background: white;
    height: 100px;
    line-height: 100px !important;

    &:nth-of-type(1) {

    }
    &:nth-of-type(2) {

    }
    &:nth-of-type(3) {

    }

    @include media($large-up) {
      display: block;
      position: absolute;
      left: 50%;
      padding: 0 0.2em;

      &:nth-of-type(1) {
        margin-left: -228px;
        top: 100px;
      }
      &:nth-of-type(2) {
        margin-left: 122px;
        top: 200px;
      }
      &:nth-of-type(3) {
        margin-left: -361px;
        top: 300px;
        padding: 0;
      }
    }


  }

}
.why {
  padding: 14rem 0 4rem 0;
  background-image: url('../images/SWV_skyrocket_girl.jpg');
  background-size: cover;
  background-position: center;
  .row {
    @include row();
    @include outer-container();
    text-align: center;
    h1 {
      color: $orange;
      @include transform(rotate(-3deg));
      margin: 0;
    }
    div, p {
      @include shift(3);
      @include span-columns(6);
    }
    p {
      font-size: 22px;
      text-align: left;
      padding: 2rem 0 8rem 0;
    }
    i {
      font-size: 52px;
    }
    small {
      font-size: 14px;
      color: #f2f2f2;
    }
    color: white;
  }
}


section {
  padding: 2rem 0 0 0;
}
